<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include('includes/navbar.ejs')%>
<h1>Alterar post</h1>




<form action="/posts/alterar/<%= id %>" method="POST">
 
    <label for="titulo">Titulo</label>
    <input type="text" name="titulo" > <br>

    <label for="descricao">Descricao</label>
    <textarea id="descricao" name="descricao"></textarea><br>

    <label for="conteudo">Conteudo</label>
    <textarea id="conteudo" name="conteudo"></textarea><br>

    <label for="imagem">URL</label>
    <input type="text" name="imagem"><br> 

    <label for="data">Data </label>
    <input type="date" name="data">

 <input  type="submit" value="Atualizar">
</form>

</body>

</html>