<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>
    <%- include('includes/navbar') %>

    <h1>Cadastro posts</h1>

    <form action="/posts" method="POST">
        <label for="titulo">Titulo</label>
        <input type="text" name="titulo"> <br>
        <label for="descricao">Descricao</label>
        <textarea id="descricao" name="descricao"></textarea><br>
        <label for="conteudo">Conteudo</label>
        <textarea id="conteudo" name="conteudo"></textarea><br>
        <label for="imagem">URL</label>
        <input type="text" name="imagem"><br> 
        <label for="data">Data </label>
        <input type="date" name="data">
     <input  type="submit">
     
   </form>

    <footer>
        <p>Desenvolvido nas aulas do IFRS <3</p>
    </footer>

</body>
</html>