<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
        </style>
</head>
<body>
    <%-include('includes/navbar.ejs')%>
    
<h1>Nome do usuário: <%= user.nome %></h1>
<h1>E-mail: <%= user.email %></h1>
<h1>Tipo: <%= user.tipo %></h1>
</body>
</html>