
<header>
    <nav class="navMenu">
       
            <a href="/posts">POSTS</a>
            <a href="/login.html">LOGIN</a>
            <a href="/cadastro.html">CADASTRO</a>
            <a href="/posts/cadastrar">CADASTRAR POST</a>
    
    </nav>
<hr>
</header>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.navMenu {
  position: absolute;
  top: 3%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #000;
  text-decoration: none;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 500;
  
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: rgb(151, 151, 151);
}

header a:not(:first-child) {
      margin-left: 30px;
    }

    header hr {
      margin-top: 45px;
    }

    

</style>