<header>
    <link rel="stylesheet" href="/css/main.css">
    <nav>
        <ul id="nav">
            <li id="nav"><a href="/posts">POSTS</a></li>
            <li id="nav"><a href="/login.html">LOGIN</a></li>
            <li id="nav"><a href="/cadastro.html">CADASTRO</a></li>
            <li id="nav"><a href="/posts/cadastrar">CADASTRAR POST</a></li>
        </ul>
    </nav>
</header>